.layout{
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    & .table-responsive{
        flex: 1;
    }
    & .filter{
        padding-right: 16px;
        padding-left: 16px;
        border: 1px solid var(--bs-gray-300);
        border-radius: 16px 0  0 16px;
    }
}